{% extends 'base.html' %}
{% block title %}Изменение категории{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'category_edit' category.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="text" class="form-label">Наименование категории</label>
            <input type="text" name="title" class="form-control" id="text" value="{{ category.title }}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание категории</label>
            <textarea type="text" name="description" class="form-control" id="description">{{ category.description }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
{% endblock %}