{% extends 'base.html' %}
{% load static %}
{% block title %}Удаление задачи{% endblock %}
{% block content %}
    <div class="d-block">
        <p class="card-text">Вы точно хотите удалить продукт:<span class="text-danger">{{ product.title }}</span>
        </p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="btn-group" role="group">
            <button type="submit" name="delete" class="btn btn-danger" value="yes">Да</button>
            <button type="submit" name="cancel" class="btn btn-primary">Нет</button>
        </div>
    </form>
{% endblock %}