{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block link %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Продукты
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'products' category.title %}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endblock %}
{% block content %}
    {% include "partial/products.html" %}
{% endblock %}
